@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	background: #eeeceb;
}

/* add by davi */
a {
	text-decoration: none;
}

.clear {
	clear: left;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
	background-size: cover;
	color: white;
	text-align: center;
}

.top-wrapper h1 {
	opacity: 0.7;
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.top-wrapper p {
	opacity: 0.7;
	margin-bottom: 3px;
}

header {
	height: 65px;
	width: 100%;
	background-color: #140b5c;
	position :fixed;
	top: 0;
	z-index: 10;
}

.logo {
	width: 180px;
	margin-top: 20px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
	margin-right: -25px;
}

.header-right a {
	line-height: 65px;
	padding: 0 25px;
	color: white;
	display: block;
	float: left;
	transition: all 0.5s;
}

.header-right a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

span.menu-icon {
	display: none;
}

/* add by nathan */
.jambotron {
	height: 580px;
	width: 100%;
	padding: 180px 0 100px 0;
	background-image: url("jambotron1.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}
.jambotron h1 {
	margin-top: 150px;
	opacity: 0.7;
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}
.jambotron p {
	opacity: 0.7;
	margin-bottom: 3px;
	font-size: 25px;
}
.btn-wrapper {
	margin: 20px 0;
}
.btn-wrapper p {
	margin: 10px 0;
}
.signup {
	background-color: #cfd2cf;
}
.btn {
	padding: 12px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
}
.fa {
	margin-right: 7px;
}
.lesson-wrapper {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
	text-align: center;
}
.lesson {
	float: left;
	width: 25%;
}
.foto {
	width: 75%;
	border-radius: 50%;
}

.lessons {
	display: flex;
	justify-content: center;
}
/*---------------*/

/* add by nathan */
.jambotron {
	height: 580px;
	width: 100%;
	padding: 180px 0 100px 0;
	background-image: url("jambotron1.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}
.jambotron h1 {
	margin-top: 50px;
	opacity: 0.7;
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}
.jambotron p {
	opacity: 0.7;
	margin-bottom: 3px;
	font-size: 25px;
}
.btn-wrapper {
	margin: 20px 0;
}
.btn-wrapper p {
	margin: 10px 0;
}
.signup {
	background-color: #cfd2cf;
}
.btn {
	margin: 10px 0;
	padding: 12px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
}
.fa {
	margin-right: 7px;
}
.lesson-wrapper {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
	text-align: center;
}
.lesson {
	float: left;
	width: 25%;
}
.foto {
	width: 75%;
	border-radius: 50%;
}

.lessons {
	display: flex;
	justify-content: center;
}
.heading {
	padding: 50px 0;
	text-align: center;
}
/* ----------------- */

footer {
	position: relative;
	background: #140b5c;
	width: 100%;
}

footer .content {
	max-width: 1250px;
	margin: auto;
	padding: 30px 40px 40px 40px;
}

footer .content .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.content .top .logo-details {
	color: #fff;
	font-size: 30px;
}

footer .content .link-boxes {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.content .link-boxes .box .link_name {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	position: relative;
}

.link-boxes .box .link_name::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 35px;
	background: #fff;
}

.content .link-boxes .box li {
	margin: 6px 0;
	list-style: none;
}

.content .link-boxes .box li a {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	opacity: 0.8;
	transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
	opacity: 1;
	text-decoration: underline;
}

footer .bottom-details {
	width: 100%;
	background: #0f0844;
}

footer .bottom-details .bottom_text {
	max-width: 1250px;
	margin: auto;
	padding: 20px 40px;
	display: flex;
	justify-content: center;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	opacity: 0.8;
	text-decoration: none;
}

.bottom-details .bottom_text a:hover {
	opacity: 1;
	text-decoration: underline;
}

.bottom-details .bottom_text a {
	margin-right: 10px;
}

@media (max-width: 900px) {
	footer .content .link-boxes {
		flex-wrap: wrap;
	}

	/* add by davi */
	.heading h1 {
		font-size: 20px;
	}
	.lessons {
		padding: 0 100px;
	}
}

@media (max-width: 700px) {
	footer {
		position: relative;
	}
	.content .top .logo-details {
		font-size: 26px;
	}
	footer .content .link-boxes .box {
		width: calc(100% / 3 - 10px);
	}
	.bottom-details .bottom_text span,
	.bottom-details .bottom_text a {
		font-size: 12px;
	}

	/* add by davi */
	.header-right {
		display: none;
	}

	span.menu-icon {
		color: white;
		float: right;
		font-size: 25px;
		padding: 21px 0;
		display: block;
	}
	.lessons {
		margin: 0 10px;
	}
}

@media (max-width: 520px) {
	footer::before {
		top: 145px;
	}
	footer .content .top {
		flex-direction: column;
	}
	.content .top {
		margin-top: 16px;
	}
	footer .content .link-boxes .box {
		width: calc(100% / 2 - 10px);
	}

	/* add by davi */
	.header-right {
		display: none;
	}

	span.menu-icon {
		color: white;
		float: right;
		font-size: 25px;
		padding: 21px 0;
		display: block;
	}

	.lesson {
		margin: 0 30px;
		text-align: center;
	}

	.lesson-wrapper {
		text-align: center;
	}

	h1 {
		font-size: 10px;
	}
	p {
		font-size: 5px;
	}
}

